<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(draw);

      function loadData(){
          var data = new google.visualization.DataTable();
      
          {%- for column in linecolumns %}
              data.addColumn({{ column|tojson|safe }});
          {%- endfor %}
          data.addRows([
                {%- for row in linedata %}
                    {{ row|tojson|safe }},
                {%- endfor %}
           ]);
         return data;
      }
      
      function combo() {
          var data = new google.visualization.DataTable();
          {%- for column in combodata['columns'] %}
              data.addColumn({{ column|tojson|safe }});
          {%- endfor %}
          data.addRows([
                {%- for row in combodata['data'] %}
                    {{ row|tojson|safe }},
                {%- endfor %}
           ]);


          var options = {{ combodata['options']|tojson|safe }};

          var areachart = new google.visualization.ComboChart(document.getElementById('combo_chart'));
          areachart.draw(data, options);
      
      }


      function columnchart(data){
      var options_fullStacked = {
          isStacked: 'percent',
          title : 'Tariff Breakup'
        };
    
      var column_chart = new google.visualization.ColumnChart(document.getElementById('column_chart'));
      column_chart.draw(data, options_fullStacked);
      
      }

      
      function draw() {
          var data = loadData()
          columnchart(data);
          {%- if combodata is defined %}
              combo(data.clone());
          {%- endif %}

      
      }
    </script>
  </head>
  <body>
    <div>
      <table>
	{% for row in output %}
	<tr>
	  {% for item in row %}
	  <td>{{item}}</td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </table>
    </div>
    <div id="combo_chart" style="width: 900px; height: 500px"></div>
    <div id="column_chart" style="width: 900px; height: 500px"></div>
  </body>



</html>
