<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
<form method="POST" action="/advanced/{{toolname}}">
  {{ form1.csrf_token }}
  <table>
    {% for formfield in form1.get_fields_() %}
    <tr>
      <td>{{formfield.label}}</td>
      <td>{{ formfield() }}</td>
    </tr>
    {% endfor %}
  </table>
  <table>
    <tr>
      <th>desscrption</th>
      <th>value</th>
      <th>default</th>
      <th>unit</th>
    </tr>
    {% for formfield in form2.get_fields_() %}
    <tr>
      <td>{{formfield.label}}</td>
      <td>{{ formfield() }}</td>
      <td>{{defaults[formfield.id]}}</td>
      <td>{{units[formfield.id]}}</td>
    </tr>
    {% endfor %}

    <tr>
      <td>
      </td>
      <td><input type="submit" name="finish" value="Finish"></td>
    </tr>
  </table>
</form>
{%endblock%}
