{% extends "index.html" %}
{% block content %}
<form method="POST" action="/{{toolname}}">
  {{ form.csrf_token }}
  <table>
    {% for formfield in form.get_fields_() %}
    <tr>
      <td>{{formfield.label}}</td>
      <td>{{ formfield() }}</td>
    </tr>
    {% endfor %}
    <tr>

      <td>
        {% if advanced is defined %}
	         <input type="submit" name="advanced" value="Advanced">
        {% endif %}
      </td>
      <td><input type="submit" name="finish" value="Finish"></td>
    </tr>
  </table>
</form>
{% endblock %}
